.dropdown-notick {
  text-align: center;
  padding: 0;
  &:hover {
    background-color: unset !important;
  }
  & .semi-icon-tick {
    display: none;
  }
}

.semi-dropdown-item-active {
  font-weight: normal;
}

.dropdown-button-group *:not(.semi-button-group-line) {
  flex-grow: 1;
}

.semi-dropdown-item {
  cursor: pointer;
}
